h1{background-color: #FFFFFF;
   font-size: large;
   font font-weight: bold;
   font-family: Arial, sans-serif;
}

body{font-size: medium;
	font-family: Arial,sans-serif;
	 background-color: #FCF0D1;
}

