h1{background-color: rgb(217,206,179);
   font-size: large;
   font font-weight: bold;
   font-family: Arial, sans-serif;
}

body{font-size: medium;
	font-family: Arial,sans-serif;
	 background-color: yellow;
}

