@import url('https://fonts.googleapis.com/css?family=Quicksand');

.header{ 
   display: block;
   text-align: center;
}

h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Avenir', sans-serif;
  background-color: #FFFFFF;
  text-align: center;
}

h2{
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  padding: 40px;
  border:solid 5px black;
}

p{
 font-size: 30px;
 font-weight: light;
 font-family: 'Quicksand',  sans-serif;
 background-color: #FFFFFF;
 text-align: center;
}

nav{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Avenir', sans-serif;
  background-color: #FFFFFF;
  text-align: left;
  margin-left: left;
  margin-right: right;
}

img {
	display: block;
	margin: auto;
	width: 40%;
}

#jglogo {
  width: 20%;
}