@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');

header { display: block; 
}

h1{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Avenir', sans-serif;
  background-color: #FFFFFF;
  text-align: center;
}

img {
	width: 50%;
	text-align: center;
}

.jglogo {
  width: 10%;
}

#green {
  color: green
}